.Header {
    .style-normal {
        background-image: linear-gradient(-170deg, #00aeef 0%, #00aeef 38%, #006fc4 100%);
        padding: 15px 30px 15px 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        .left-side {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: left;
            gap: 50px;

            .logo-area {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: left;
                gap: 5px;

                .logo-title {
                    color: #fff;
                    font-size: 22px;  //16
                    font-weight: 500;  //500
                }
            }

            .title {
                color: #fff;
                font-size: 22px;
                font-weight: 300;
            }
        }

        .menu-handle {
            color: #fff;

            &:hover {
                color: #eee;
            }
        }
    }

    .style-admin {
        border-bottom-color: rgba(255, 255, 255, 1) !important;
        color: #fff;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 0;
        border-width: 2px 0;
        background-color: #37474f;
        top: 0;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        min-height: 46px;
        box-sizing: border-box;
        font-size: 13px;
        line-height: 1.5384616;
        font-family: sans-serif;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        .left-side {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: left;
            gap: 50px;

            .logo-area {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: left;
                gap: 5px;

                img {
                    height: 30px;
                }

                .logo-title {
                    color: #fff;
                    font-size: 20px;  //16
                    font-weight: 500;  //500
                }
            }

            .menu-toggler {
                transition: all ease-in-out 0.15s;
                cursor: pointer;
                position: relative;
                display: block;
                padding: 15px 20px;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }

            .title {
                color: #fff;
                font-size: 16px;
                font-weight: 200;
            }
        }

        .menu-handle {
            color: #fff;
            font-size: 16px;

            &:hover {
                color: #eee;
            }
        }
    }

    .style-modeus {
        border-bottom-color: rgba(255, 255, 255, 1) !important;
        color: #fff;
        padding: 10px 20px;
        margin-bottom: 0;
        border-width: 2px 0;
        background-color: #238BC8;
        top: 0;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        min-height: 46px;
        box-sizing: border-box;
        font-size: 13px;
        line-height: 1.5384616;
        font-family: sans-serif;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        .left-side {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: left;
            gap: 50px;

            .logo-area {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: left;
                gap: 5px;

                img {
                    height: 30px;
                }

                .logo-title {
                    color: #fff;
                    font-size: 20px;  //16
                    font-weight: 500;  //500
                }
            }

            .menu-toggler {
                transition: all ease-in-out 0.15s;
                cursor: pointer;
                position: relative;
                display: block;
                padding: 15px 20px;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }

            .title {
                color: #fff;
                font-size: 18px;
                font-weight: 600;
            }
        }

        .menu-handle {
            color: #fff;
            font-size: 16px;

            &:hover {
                color: #eee;
            }
        }
    }
}
