.Button {
    padding: 8px 16px !important;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px !important;
    font-weight: 500 !important;
    transition: all 0.2s ease;

    color: var(--fg);
    background: var(--bg);
    border: var(--border);
    text-shadow: var(--textShadow);
    box-shadow: var(--boxShadow);
    
    &:hover:not(:disabled) {
        color: var(--hoverFg);
        background: var(--hoverBg);
        border: var(--hoverBorder);
        text-shadow: var(--hoverTextShadow);
        box-shadow: var(--hoverBoxShadow);
        transform: var(--hoverTransform);
    }

    &:active:not(:disabled) {
        color: var(--activeFg);
        background: var(--activeBg);
        border: var(--activeBorder);
        text-shadow: var(--activeTextShadow);
        box-shadow: var(--activeBoxShadow);
        transform: var(--activeTransform);
    }

    &:disabled {
        cursor: not-allowed;
        transform: none;
        // opacity: 0.6;
        
        color: var(--disabledFg);
        background: var(--disabledBg);
        border: var(--disabledBorder);
        text-shadow: var(--disabledTextShadow);
        box-shadow: var(--disabledBoxShadow);
        transform: var(--disabledTransform);
    }
}
