.AdminAnalysisVamLgmView {
    .Card {
        margin: 20px 0;
    }

    .filters-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        align-items: end;
    }
}
