.AdminAnalysisAdvancedView {

    .visualization-container {
        background: #fafafa;
        padding: 20px;
        border-radius: 6px;
        min-height: 400px;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        > * {
            width: 100%;
            min-width: 0;
        }

        .two-columns {
            padding: 20px;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }
}
